/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow-x:hidden ;
}

/* Container */
.container {
    width: 90%;
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-top: 50px;
}

/* Inputs & Buttons */
input, select, button {
    display: block;
    width: 90%;
    margin: 10px auto;
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #0056b3;
}

/* List */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 12px;
    background: #fff;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

li button {
    background: red;
    padding: 5px 10px;
    font-size: 14px;
}

li button:hover {
    background: darkred;
}

/* Responsive */
@media (max-width: 600px) {
    .container {
        width: 95%;
    }
}
